@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #d2f6f7, #c1f6f8, #aff6fa, #9cf5fc, #85f5ff);
  padding: 20px;
  width: full;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.splide-container {
  overflow-x: hidden; /* Ensure no horizontal overflow */
}
.txt{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}